<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Кофемашина
  </h1>
  <app-coffee-machine></app-coffee-machine>
  <app-statistic></app-statistic>
</div>


