
:host {    
    display: table;
    margin: 0 auto;
    border: 6px solid #3c3265;
    border-radius: 8px;
    background: #eaeaea;
    width: 700px;
    box-shadow: 1px 1px 14px 3px rgb(152, 152, 152);
}