<app-display></app-display>
<app-coffee-type-selector>
  <app-coffee-item [type]="0">Espresso</app-coffee-item>
  <app-coffee-item [type]="1">Moka</app-coffee-item>
  <app-coffee-item [type]="2">Americano</app-coffee-item>
  <app-coffee-item [type]="3">Ristretto</app-coffee-item>
</app-coffee-type-selector>
<app-coffee-type-selector>
  <app-volume-item [volume]="150">150 мл</app-volume-item>
  <app-volume-item [volume]="200">200 мл</app-volume-item>
  <app-volume-item [volume]="400">400 мл</app-volume-item>
</app-coffee-type-selector>
<app-coffee-type-selector>
  <app-price-item [bill]="1">1 р.</app-price-item>
  <app-price-item [bill]="2">2 р.</app-price-item>
  <app-price-item [bill]="5">5 р.</app-price-item>
  <app-price-item [bill]="10">10 р.</app-price-item>
  <app-price-item [bill]="50">50 р.</app-price-item>
  <app-price-item [bill]="100">100 р.</app-price-item>
</app-coffee-type-selector>
<app-coffee-type-selector>
  <app-cancel-item></app-cancel-item>
</app-coffee-type-selector>