
:host {    
    display: table;
    margin: 0 auto;
    background: #f9f9f9;
    margin-top: 50px;
    width: 650px;
    box-shadow: 1px 1px 20px 0px rgb(152, 152, 152);
    white-space: pre-wrap;
    text-align: left;
    padding: 10px 30px;
    line-height: 20px;
    font-size: 14px;
}