
:host {    
    display: block;
    left: 30px;
    right: 30px;
    margin: 20px;
    border: 2px solid #111E57;
    border-radius: 8px;
}

:host /deep/ .text-container {
    display: table;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

:host /deep/ .text-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}