:host {    
    display: inline-block;
    
    border: 6px solid #bf9547;
    border-radius: 8px;
    background: #eaeaea;
    width: 90px;
    margin: 10px;
    box-shadow: 1px 1px 14px 3px rgb(152, 152, 152);
    cursor: pointer;
}

:host:hover {    
    background: #FFEFD0;
}